.inputColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputWrapper {
    width: 100%;
    background-color: var(--input-color);
    box-sizing: border-box;
    border: 1px var(--input-color) solid;
    border-radius: 0.7vw;
    padding: 0 0.7vw;
    align-items: center;
    justify-content: space-between;
}

.disabledWrapper {
    background-color: rgba(100, 100, 100, 0.2);
}

.input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 1.2vh 0;
    font-size: 1em;
}

.focused {
    /*border: black 1px solid;*/
}

.errorWrapper {
    border: red 1px solid;
}

.dropdownErrorWrapper {
    border: red 1px solid;
    border-bottom: 0;
}

.dropdownError {
    border: red 1px solid;
    border-top: 0;
}

.errorInput {
    width: 100%;
    margin-right: 5%;
}

.error {
    width: 10%;
    object-fit: contain;
}

.errorMessage {
    margin-top: 0.2vh;
    color: red;
    font-size: 0.8em;
    align-self: start;
    text-align: start;
}

.inputWrapper > input:focus {
    outline: none;
}

.listInput {
    width: 100%;
    margin-right: 5%;
    background-color: transparent;
    border: none;
    padding: 1.2vh 0;
    font-size: 1em;
}

.unEditable {
    caret-color: transparent;
}

.arrow {
    width: 1vw;
    height: 70%;
    object-fit: contain;
    transition: transform 0.5s ease-in-out;
}

.arrowUp {
    transform: rotate(180deg);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    z-index: 1;
    background-color: var(--input-color);
    border: 1px var(--input-color) solid;
    border-top: none;
    border-radius: 0 0 0.7vw 0.7vw;
}

.scrollable {
    width: 100%;
    min-height: 0.7vw;
    max-height: 10vh;
    overflow: auto;
    box-sizing: border-box;
}

.hoveredOption {
    background-color: var(--main-background-color);
}

.scrollable::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}

.scrollable::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-corner {
    background-color: var(--main-background-color);
}

.dropdown_option {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5vh 0.7vw;
    text-align: start;
    font-size: 1em;
}

.showContent {
    display: block;
    /*border: black 1px solid;*/
    border-top-width: 0;
}

.hoveredWrapper {
    border-bottom: 0;
    border-radius: 0.7vw 0.7vw 0 0;
}
