.orderCreation {
    justify-content: space-between;
    width: 60vw;
    height: 75vh;
}

.infoContainer {
    justify-content: space-between;
    height: 100%;
    width: 45%;
}

.formContainer {
    height: 100%;
    width: 50%;
}

.infoElement {
    height: 30%;
}