.orderCreation {
    justify-content: space-between;
    width: 60vw;
}

.infoContainer {
    justify-content: space-between;
    width: 45%;
}

.formContainer {
    height: 100%;
    width: 50%;
}

.infoElement {
    height: 27%;
}