:root {
    --form-color: #FFEDDC;
    --input-color: #F3DCC2;
}

.orderForm {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: var(--form-color);
    align-items: center;
    justify-content: center;
    padding: 5%;
    border-radius: 1vw;
}

.orderForm h3 {
    font-weight: 500;
    font-size: 1.5em;
}

.orderForm h4 {
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 1vh;
}

.orderForm h5 {
    font-weight: 400;
    font-size: 1.2em;
    align-self: start;
    margin-top: 1.5vh;
}

.inputWrapper,
.orderForm select, fieldset {
    background-color: var(--input-color);
    border: 1px var(--main-text-color) solid;
    padding: 1.2vh 1vw;
    border-radius: 0.7vw;
    font-size: 1em;
}

.orderForm input[type='radio'] {
    accent-color: var(--main-text-color);
    margin-right: 5%;
}

.orderForm input[type='checkbox'] {
    accent-color: var(--main-text-color);
    margin-right: 5%;
}

.formRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.inputRow {
    margin-top: 2vh;
}

.twoColumns {
    width: 47%;
}

.oneColumn {
    width: 100%;
}

.centeredRow {
    justify-content: center;
}

.inputColumn {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
}

.twoColumns > fieldset {
    width: 100%;
    box-sizing: border-box;
}

.twoColumns > fieldset {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.twoColumns > h5 {
    text-align: start;
}

.fieldsetRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    width: 100%;
}

.fieldsetRow:hover,
.fieldsetRow *:hover {
    cursor: pointer;
}

.fieldsetRow:not(:first-child) {
    margin-top: 1vh;
}

.formRow label {
    font-size: 1em;
}

.orderForm > button[type="submit"] {
    background-color: transparent;
    color: var(--main-text-color);
    font-size: 1.2em;
    padding: 1vh 1vw;
    margin-top: 1.5vh;
    border: var(--main-text-color) 2px solid;
    border-radius: 1vw;
    width: 70%;
}

.orderForm > button[type="submit"]:hover {
    background-color: transparent;
    color: var(--main-text-color);
}

.price {
    margin-top: 2vh;
}