.wrapper {
    color: #441F0B;
    background: #C98345;
    height: 7vw;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.text {
    font-weight: bold;
    font-size: 2vw;
    margin-left: 15vw;
}

.timer {
    width: 32vw;
    margin-right: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

a {
    font-weight: bold;
    font-size: 2vw;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 9.2vw;
    height: 6vw;
    text-align: center;
    border-radius: 2vw;
    font-size: 1.2vw;
    background: #E8CBA8;
}
