.wrapper{
    color: #441F0B;
    background: #C98345;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.text{
    font-weight: bold;
    font-size: 24px;
    margin-left: 15vw;
}

.timer{
    width: 400px;
    margin-right: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
a{
    font-weight: bold;
    font-size: 24px;
}
.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 115px;
    height: 75px;
    text-align: center;
    border-radius: 15px;
    background: #E8CBA8;
}