.wrapper {
    padding: 0 15vw;

}

.imgWrap img {
    object-fit: cover;
    width: 70vw;
}

@media (max-width: 1440px) {
    .wrapper {
        padding: 0 13vw;

    }

    .imgWrap img {
        object-fit: cover;
        width: 74vw;
    }


}

@media (max-width: 1280px) {
    .wrapper {
        padding: 0 11vw;

    }

    .imgWrap img {
        object-fit: cover;
        width: 78vw;
    }

}

@media (max-width: 1024px) {
    .wrapper {
        padding: 0 9vw;

    }

    .imgWrap img {
        object-fit: cover;
        width: 82vw;
    }

}

@media (max-width: 768px) {
    .wrapper {
        padding: 0 0vw;

    }

    .imgWrap img {
        object-fit: cover;
        width: 100%;
    }

}


@media (max-width: 480px) {
    .wrapper {

    }

    .imgWrap img {
        object-fit: cover;
        width: 100%;
    }

}

@media (max-width: 320px) {
    .wrapper {

    }

    .imgWrap img {
        object-fit: cover;
        width: 100%;
    }

}