.content {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70vw;
}

.slider {
    flex-shrink: 0;
    width: 40%;
}

.infoText {
    flex-shrink: 0;
    width: 50%;
}

.titleText {
    font-size: 2em;
    font-weight: 400;
    text-align: left;
    margin: 0 0 2vh 0;
}

.price {
    margin-bottom: 2vh;
}

.price p {
    font-size: 2em;
}

.oldPrice {
    margin: 0;
    color: gray;
    text-decoration: line-through;
}

.newPrice {
    margin: 0;
    color: var(--secondary-text-color);
    padding-left: 2vw;
}

.orderButton {
    background-color: var(--secondary-background-color);
    color: var(--main-background-color);
    border: 2px solid var(--secondary-background-color);
    align-self: center;
    border-radius: 1vw;
    width: 25vw;
    padding: 1vh 2vw;
    margin-top: 3vh;
    font-size: 1.5em;
}

.orderButton:hover {
    background-color: var(--main-background-color);
    color: var(--secondary-background-color);
}

.option {
    width: 60%;
    margin-bottom: 2vh;
}

@media (max-width: 768px) {

}