.feature {
    align-items: center;
    margin-bottom: 1vh;
    min-height: 2.5em;
    max-height: 3vh;
}

.text {
    text-align: left;
    margin: 0 0 0 0.5vw;
    font-weight: bolder;
}

.mark {
    height: 3vh;
    width: auto;
}
