.feature {
    align-items: center;
    margin-bottom: 1vh;
    padding: 0.3vh 0;
}

.text {
    text-align: left;
    font-size: 1.2em;
    margin: 0 0 0 0.5vw;
    font-weight: bolder;
}

.mark {
    height: 3vh;
    width: auto;
}
