.dialog {
    background-color: var(--form-color);
    width: 25vw;
    padding: 2vh 1vw;
    border-radius: 1vw;
    border: 2px solid var(--main-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialog h3 {
    font-size: 1.6rem;
    margin-bottom: 0.3em;
}

.text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dialog span {
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 400;
}

.dialog button {
    font-size: 1.2rem;
    width: 50%;
    margin-top: 1em;
    padding: 0.4em;
    border-radius: 1em;
    background-color: transparent;
}

.errorDialog {
    border-color: red;
}
