.wrapper{
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    color: var(--main-background-color);
    padding: 10px 20px;
    font-weight: bold;
    font-size: 22px;
    white-space: nowrap;
}