* {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
}

:root {
    --main-background-color: #E8CBA8;
    --secondary-background-color: #C98345;
    --main-text-color: #441F0B;
    --secondary-text-color: #9F5125;
}

button:hover {
    cursor: pointer;
}

.centeredComponent {
    padding: 7vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.nonDraggable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}